* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: clamp(10px, 1vw, 20px);
}

section {
    font-size: 10rem;
    h1 {
        font-size: 10rem;
    }
}

h2 {
    font-size: 2em; 
    /* nearest ancestor -> html, html = 1vw
       h2 -> same as html font size but its variable due to variability of html i.e: 1vw  */
}