* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right,black,rgb(53, 52, 52) 50%, black);
    padding: 30px;
    color: white;

    section {
        height: 92vh;
        width: 400px;
        margin: auto;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        
        &::-webkit-scrollbar {
            display: none;
        }
        .box {
            scroll-snap-align: start;
            height: 90vh;
            width: 100%;
            border-radius: 15px;
            background-color: black;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;

            .mute {
                height: 40px;
                width: 40px;
                background-color: rgba(57, 56, 56, 0.586);
                backdrop-filter: blur;
                z-index: 10;
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    pointer-events: none;
                }
            }
            .mute:active {
                scale: 0.95;
            }
            
            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .bottom {
                width: 100%;
                position: absolute;
                margin: 10px;
                bottom: 0;
    
                .userdetail {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img {
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    button {
                        background-color: transparent;
                        color: white;
                        border: 1px solid white;
                        padding: 3px 5px;
                        border-radius: 5px;
                    }
                }
                .caption {
                    margin-top: 5px;
                    width: 80%;
                    margin-left: 15px;
                    h3 {
                        font-size: 15px;
                        font-weight: 500;
                        color: rgba(255, 255, 255, 0.812);
                    }
                }
            }
            .right {
                position: absolute;
                padding: 15px;
                right: 0;
                bottom: 10%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-size: 30px;
                font-weight: 500;

                .like, .comment, .share, .more {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 50px;
                    h4 {
                        font-size: 15px;
                        font-weight: 500;
                    }
                    i, h4 {
                        pointer-events: none;
                    }
                }

            }
        }
    }

}