* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --anchor;
    #bigbox {
        display: flex;
        gap: 10px;
        position: relative;
        z-index: 2;
        border: none;
        .box {
            border-radius: 20px;
            border: 1px solid white;
            padding: 12px 20px;
            color: white;
        }
        .box:hover {
            border: 1px solid white !important;
            color: white !important;
        }
    }
    #bigbox:hover,.box:hover {
        anchor-name: --anchor;
    }
    #bigbox:has(.box:hover) .box{
        border: 1px solid black;
        color: black;
    }
    .anchor {
        transition: all 0.3s ease;
        position: absolute;
        z-index: 1;
        background-color: black;
        border-radius: 20px;
        pointer-events: none;
        top: anchor(top);
        bottom: anchor(bottom);
        left: anchor(left);
        right: anchor(right);
        position-anchor: --anchor;
    }
}
