* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: monospace;
}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: rgb(67, 234, 61);
        font-size: 50px;
        // letter-spacing: 10px;
    }
}