* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    main {
        padding: 20px;
        width: 100%;
        // height: 100%;
        background-color: black;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        .card {
            width: 350px;
            padding: 30px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: white;
            align-items: center;
            gap: 20px;

            img {
                border-radius: 50%;
                width: 200px;
                height: 200px;
                object-fit: cover;
                object-position: center;
            }
            h3 {
                font-size: 35px;
                white-space: nowrap;
            }
            h4 {
                color: royalblue;
                font-size: 18px;
            }
        }
    }
}