*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}   

#div1{
    text-align: center;
    color: white;
    background-color: rgb(31, 39, 60);
    padding: 10px;
}

.allign{
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

.margin{
    margin-top: 30px;
    margin-bottom: 30px;
}

#div21{
    background-color: white;
    padding: 10px;
}

#div22{
    background-color: lightblue;
    padding: 10px;
}

#div23{
    background-color: rgb(244, 234, 143);
    padding: 10px;
    font-weight: 700;
}

#div24{
    background-color: rgb(237, 202, 243);
    padding: 10px;
    font-size: small;
    font-weight: 500;
    font-style: italic;
}
#div25{
    background-color: rgb(186, 241, 200);
    padding: 10px;
    font-size: small;
    font-weight: 500;
}

.small{
    background-color: white;
    padding: 2px;
    margin: 10px;
    margin-left: 350px;
    margin-right: 350px;
}

.smaller{
    background-color: white;
    padding: 2px;
    margin: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

#footer{
    text-align: center;
    background-color: rgb(31, 39, 60);
    font-size: 10px;
    height: 50px;
    padding: 10px;
    color: rgb(240, 240, 240);
}
