* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #0F0F0F;
}

main {
    width: 100%;
    color: white;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem;
        padding: 1rem;

        #search {
            display: flex;
            align-items: center;
            gap: 2.5rem;
            width: 40rem;
            #searchbar {
                background-color: #1b1b1b;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 50px;
                width: 90%;
                input {
                    padding: 1rem;
                    width: 85%;
                    border: 3px solid #1b1b1b;
                    background-color: black;
                    border-top-left-radius: 1.8rem;
                    border-bottom-left-radius: 1.8rem;
                }
                i {
                    padding: 0rem 2rem;
                }
            }
            #mic {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #1b1b1b;
                border-radius: 50%;
                width: 3rem;
                height: 3rem;
            }
        }

        #account {
            display: flex;
            align-items: center;
            gap: 3rem;
            #create {
                display: flex;
                background-color: #1b1b1b;
                padding: 0.8rem 1.7rem;
                border-radius: 50px;
            }
            #acc {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(63, 6, 117);
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }
        }
    }

    #middle {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
        .cards {
            width: 25rem;
            height: 35rem;
            border-radius: 2rem;
            background-color: crimson;
        }
    }
}