* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    color: white;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 170, 248);
    #box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: 400px;
        width: 600px;
        border-radius: 10px;
        background-color: gold;
        h2 {
            width: 80%;
            text-align: left;
        }
    }
    
    button {
        padding: 8px 15px;
        color: white;
        background-color: gold;
        border-radius: 10px;
        border: none;
        margin: 40px;
        cursor: pointer;
    }
    button:active {
        scale: 0.95;
    }
}