* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    #card {
        width: 350px;
        height: 500px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        i {
            position: absolute;
            color: white;
            font-size: 80px;
            opacity: 0.7;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform ease 0.5s;
        }
    }
}

